[Unit]
Description=Horus Dispatcher
After=network-online.target
StartLimitInterval=0

[Service]
Type=simple
Environment=http_proxy=
ExecStart=/usr/local/bin/horus-dispatcher \
        --port {{ horus_dispatcher_port }} \
        --db-snmp-freq {{ horus_dispatcher_snmp_freq }} \
        --db-ping-freq {{ horus_dispatcher_ping_freq }} \
        --agent-keepalive-freq {{ horus_dispatcher_keepalive_freq }} \
        --max-load-delta {{ horus_dispatcher_max_delta }} \
        --error-flush-freq 2 \
        --ping-batch-count 100 \
        --dsn "postgres://{{ horus_psql_user }}:{{ horus_psql_pass }}@{{ horus_psql_host }}/{{ horus_psql_database }}" \
{% if horus_log_dir is defined and horus_log_dir != "" %}        --log {{ horus_log_dir }} \
{% endif %}
{% if horus_dispatcher_loglevel is defined and horus_dispatcher_loglevel != 0 %}        --debug {{ horus_dispatcher_loglevel }} \
{% endif %}
        --lock-id {{ horus_dispatcher_lockid }}

KillMode=control-group
KillSignal=TERM
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
